body{
    font-family: "Epilogue", sans-serif;
    margin: auto;
    width: 100%;
}
nav{
    display: flex;
    justify-content: center;
    height: 78px;
    background-color: black;
    color: white;
}
.intro {
    display: flex;
    list-style-type: none;
    gap: 100px;
    margin-top:25px ;
    font-size: 25px;
}

nav img{
    height: 78px;
}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 100px;
    justify-content: space-around;
    font-size: 25px;
    margin-left:40px
}

.header{
    display: flex;
    justify-content: space-around;
    font-size: 27px;
    margin: 0 auto;
}
 

.Introduction {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 35px;
}
  
.container {
    position: relative;
    text-align: center;
    color: white;
}
  